<!DOCTYPE hmtl>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vinted Homework</title>
</head>
<body style="margin: 0; background-color: #e6e6e6;">
    <div id="root"></div>
</body>
</html>